EIO:CFG_1.0:5:0::
#
EIO_BUS:

      -Name "Virtual1" -ConnectorID "SIM1"

      -Name "DeviceNet_Lean" -BusType "DNLE" -ConnectorID "PCI1"\
      -ConnectorLabel "DeviceNet Lean"
#
EIO_UNIT_TYPE:

      -Name "Virtual" -VendorName "ABB" -ProductName "Virtual unit"

      -Name "d651_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
      -ProductName "Combi Unit" -DL_ProductCode 25

      -Name "d652_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
      -ProductName "24 VDC Unit" -DL_ProductCode 26

      -Name "d653_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
      -ProductName "Relay Unit" -DL_ProductCode 27

      -Name "AC500_PLC_Lean" -BusType "DNLE" -VendorName "ABB Stotz"\
      -ProductName "AC500 PLC - FPB" -DL_ProductCode 1 -DL_VendorID 760

      -Name "DL_GENERIC" -BusType "DNLE" -DL_ProductCode 3535

      -Name "DL_GENERIC_POLL" -BusType "DNLE" -DL_ProductCode 3535\
      -DL_Pollrate 30

      -Name "d351_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
      -ProductName "IBS Adapter" -DL_ProductCode 7

      -Name "d378_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
      -ProductName "CCLink Adapter" -DL_ProductCode 17
#
EIO_UNIT:

      -Name "BOARD10" -UnitType "d652_Lean" -Bus "DeviceNet_Lean" -DL_Address 10
#
EIO_SIGNAL:

      -Name "DI10_1" -SignalType "DI" -Unit "BOARD10" -UnitMap "0"

      -Name "DI10_2" -SignalType "DI" -Unit "BOARD10" -UnitMap "1"

      -Name "DI10_3" -SignalType "DI" -Unit "BOARD10" -UnitMap "2"

      -Name "DI10_4" -SignalType "DI" -Unit "BOARD10" -UnitMap "3"

      -Name "DI10_5" -SignalType "DI" -Unit "BOARD10" -UnitMap "4"

      -Name "DI10_6" -SignalType "DI" -Unit "BOARD10" -UnitMap "5"

      -Name "DI10_7" -SignalType "DI" -Unit "BOARD10" -UnitMap "6"

      -Name "DI10_8" -SignalType "DI" -Unit "BOARD10" -UnitMap "7"

      -Name "DI10_9" -SignalType "DI" -Unit "BOARD10" -UnitMap "8"

      -Name "DI10_10" -SignalType "DI" -Unit "BOARD10" -UnitMap "9"

      -Name "DI10_11" -SignalType "DI" -Unit "BOARD10" -UnitMap "10"

      -Name "DI10_12" -SignalType "DI" -Unit "BOARD10" -UnitMap "11"

      -Name "DI10_13" -SignalType "DI" -Unit "BOARD10" -UnitMap "12"

      -Name "DI10_14" -SignalType "DI" -Unit "BOARD10" -UnitMap "13"

      -Name "DI10_15" -SignalType "DI" -Unit "BOARD10" -UnitMap "14"

      -Name "DI10_16" -SignalType "DI" -Unit "BOARD10" -UnitMap "15"

      -Name "DO10_1" -SignalType "DO" -Unit "BOARD10" -UnitMap "0"

      -Name "DO10_2" -SignalType "DO" -Unit "BOARD10" -UnitMap "1"

      -Name "DO10_3" -SignalType "DO" -Unit "BOARD10" -UnitMap "2"

      -Name "DO10_4" -SignalType "DO" -Unit "BOARD10" -UnitMap "3"

      -Name "DO10_5" -SignalType "DO" -Unit "BOARD10" -UnitMap "4"

      -Name "DO10_6" -SignalType "DO" -Unit "BOARD10" -UnitMap "5"

      -Name "DO10_7" -SignalType "DO" -Unit "BOARD10" -UnitMap "6"

      -Name "DO10_8" -SignalType "DO" -Unit "BOARD10" -UnitMap "7"

      -Name "DO10_9" -SignalType "DO" -Unit "BOARD10" -UnitMap "8"

      -Name "DO10_10" -SignalType "DO" -Unit "BOARD10" -UnitMap "9"

      -Name "DO10_11" -SignalType "DO" -Unit "BOARD10" -UnitMap "10"

      -Name "DO10_12" -SignalType "DO" -Unit "BOARD10" -UnitMap "11"

      -Name "DO10_13" -SignalType "DO" -Unit "BOARD10" -UnitMap "12"

      -Name "DO10_14" -SignalType "DO" -Unit "BOARD10" -UnitMap "13"

      -Name "DO10_15" -SignalType "DO" -Unit "BOARD10" -UnitMap "14"

      -Name "DO10_16" -SignalType "DO" -Unit "BOARD10" -UnitMap "15"
#
EIO_COMMAND_TYPE:

      -Name "StationNo_L" -UnitType "d378_Lean" -DefValue "1" -OrderNr 1\
      -DL_Path "6,20 68 24 01 30 01,C6,1" -DL_Service 16

      -Name "BaudRate_L" -UnitType "d378_Lean" -DefValue "0" -OrderNr 2\
      -DL_Path "6,20 68 24 01 30 02,C6,1" -DL_Service 16

      -Name "OccStat_L" -UnitType "d378_Lean" -DefValue "1" -OrderNr 3\
      -DL_Path "6,20 68 24 01 30 03,C6,1" -DL_Service 16

      -Name "BasicIO_L" -UnitType "d378_Lean" -DefValue "0" -OrderNr 4\
      -DL_Path "6,20 68 24 01 30 04,C1,1" -DL_Service 16

      -Name "D378reset_L" -UnitType "d378_Lean" -DefValue "0" -OrderNr 5\
      -DL_Path "4,20 01 24 01,C1,1" -DL_Service 5

      -Name "DataWidth_L" -UnitType "d351_Lean" -DefValue "3" -OrderNr 1\
      -DL_Path "6,20 65 24 01 30 01,C6,1" -DL_Service 16

      -Name "D351reset_L" -UnitType "d351_Lean" -DefValue "0" -OrderNr 2\
      -DL_Path "4,20 01 24 01,C1,1" -DL_Service 5
#
EIO_ACCESS:

      -Name "All" -Rapid  -LocalManual  -LocalAuto  -RemoteManual  -RemoteAuto 
